<template>
  <div ref="modal-dialog" class="modal bottom-sheet">
    <div class="modal-content">
      <div refs="swiper-container" class="swiper-container">

        <div class="swiper-wrapper">
          <div class="swiper-slide card cos-card" v-for="l in locations" :key="l.id">
            <div class="card-image">
              <img :src="baseUrl + l.img" @click="onClickImage(l)">
              <span class="card-title"></span>
              <a class="btn-floating halfway-fab waves-effect waves-light blue" @click="dropPin(l)"><i class="material-icons">pin_drop</i></a>
            </div>
            <div>{{l.name}}({{l.xy[0]}},{{l.xy[1]}})</div>
          </div>
        </div>

        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

      </div>
    </div>
  </div>
</template>

<script>
import config from '@/config'
import Swiper from 'swiper'
import 'swiper/dist/css/swiper.css'

export default {
  name: 'drop-pin-modal',
  props: [
    'areaId'
  ],
  data () {
    return {
      baseUrl: config.baseUrl,
      swiperOptions: {
        pagination: '.swiper-pagination',
        paginationClickable: true,
        slidesPerView: 'auto',
        margin: 30,
        keyboardControl: true,
        mousewheelControl: true,
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        grabCursor: true
      }
    }
  },
  mounted () {
    this.swiper = new Swiper('.swiper-container', this.swiperOptions)
    var that = this
    $(this.$refs['modal-dialog']).modal({
      opacity: 0.1,
      complete: that.close
    })
  },
  methods: {
    open () {
      $(this.$refs['modal-dialog']).modal('open')
      this.swiper.update()
      this.swiper.slideTo(0)
    },
    dropPin (l) {
      this.$emit('select', l)
      $(this.$refs['modal-dialog']).modal('close')
    },
    onClickImage (l) {
      this.$emit('click-image', l)
    },
    close () {
      this.$emit('close')
    }
  },
  computed: {
    locations () {
      let area = config.areas.find(a => a.id === this.areaId)
      return area.locations
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
@media only screen and (max-width: 600px) {
  .cos-card {
    margin : 6px;
    width: 170px;
  }
  .modal .modal-content {
    padding:6px 0 24px 0;
  }
}
@media only screen and (min-width: 601px) {
  .cos-card {
    margin : 10px;
    width: 220px;
  }
  .modal .modal-content {
    padding:10px 30px 24px 30px;
  }
}

.swiper-container {
  width: 100%;
  height:210px;
  padding-bottom:40px;
}

.swiper-slide {
  margin : 6px;
  width: 170px;
}

.pagination {
  text-align: right;
  padding: 5px 0;
}

.swiper-pagination-switch {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  margin: 0 4px;
  background-color: #000;
  border: 1px solid #188A77;
  cursor: pointer;
  transition: all .25s linear;
}

.swiper-active-switch {
  background-color: #16AC94;
}
</style>
