<template>
  <div class="container">
    <div class="row">
      <div class="section col s1 m1 l1">
      </div>
      <div class="section col s11 m9 l10">
        <!--
        <div id="thanks" class="section">
          <h5>謝辞</h5>
          <p class="caption"></p>
        </div>
        <div class="divider"></div>
        -->
        <div id="auther" class="section">
          <h5>作った人</h5>
          <p class="caption"><a href="https://jp.finalfantasyxiv.com/lodestone/character/1656990/blog/3417341/">まいこー@てぃあまと</a></p>
        </div>
        <div class="divider"></div>
        <div id="disclaimer" class="section ">
          <h5>免責事項</h5>
          <p class="caption">本ツールにて損害・損益・問題が発生しても、製作者及び当サイトは如何なる責任も負いません。ご利用はご自分の判断・責任の元お願い致します。</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'info',
  data () {
    return {
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
