<template>
  <div ref="modal-dialog" class="modal">
    <div class="modal-content">
      <a class="modal-close right grey-text"><i class="material-icons">close</i></a>
      <h4>チャットログから地図にマークする</h4>
      <textarea ref="paste-log" style="height:30%" rows="6" placeholder="プレイヤー名や座標情報が含まれるチャットログを張り付けてください
例)
[23:26] (Player A.) クルザス西部高地 ( 36.6  , 26.6 )
[23:26] (Player B.) １１，３２＠アバ
[23:26] (Player C.) A＠ドラ高地
[23:26] (Player D.) 高地入口側＠西部"></textarea>
      <a href="#" class="btn" @click="create">Create</a>
      <a href="#" class="btn" @click="append">Append</a>
    </div>
  </div>
</template>

<script>
import LogParser from '@/api/LogParser'

export default {
  name: 'input-log-modal',
  data () {
    return {
    }
  },
  created () {
    LogParser
  },
  mounted () {
    $(this.$refs['modal-dialog']).modal()
  },
  methods: {
    open () {
      $(this.$refs['modal-dialog']).modal('open')
    },
    create () {
      let tresuares = LogParser.parse(this.$refs['paste-log'].value)
      this.$emit('execute', tresuares, false)
      $(this.$refs['modal-dialog']).modal('close')
    },
    append () {
      let tresuares = LogParser.parse(this.$refs['paste-log'].value)
      this.$emit('execute', tresuares, true)
      $(this.$refs['modal-dialog']).modal('close')
    }
  },
  computed: {
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
