<template>
  <div>
    <!-- bottom control group -->
    <div class="bottom-menu-layout">
      <a class="btn btn-floating btn-large waves-effect waves-light blue map-control-overlay" @click="openDropPinModal">
        <i class="material-icons">pin_drop</i>
      </a>
      <a class="btn btn-floating btn-large waves-effect waves-light cyan lighten-2 map-control-overlay" @click="openInputLogModal">
        <i class="material-icons">input</i>
      </a>
      <a class="scale-transition btn btn-floating btn-large waves-effect waves-light light-green accent-4 map-control-overlay" @click="openSharePinModal" :class="{ 'scale-out': !exists }">
        <i class="material-icons">share</i>
      </a>
      <a class="scale-transition btn btn-floating btn-large waves-effect waves-light deep-purple accent-1 map-control-overlay" @click="openRouteSeachModal" :class="{ 'scale-out': !exists }">
        <i class="material-icons">directions</i>
      </a>
    </div>
    <!-- modals -->
    <DropPinModal ref="dropPinModal" v-on:close="onCloseModal" v-on:select="onDropPin" v-on:click-image="onClickImage"></DropPinModal>
    <InputLogModal ref="inputLogModal" v-on:execute="onInputLog"></InputLogModal>
    <SharePinModal ref="sharePinModal"></SharePinModal>
    <RouteSearchModal ref="routeSearchModal" v-on:click-route="onClickRoute" v-on:close="onCloseModal"></RouteSearchModal>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'control',
  data () {
    return {
      exists: false
    }
  },
  components: {
    DropPinModal: require('@/components/DropPinModal'),
    InputLogModal: require('@/components/InputLogModal'),
    SharePinModal: require('@/components/SharePinModal'),
    RouteSearchModal: require('@/components/RouteSearchModal')
  },
  created () {
    this.exists = this.tresuares.length > 0
  },
  mounted () {
  },
  computed: {
    ...mapGetters([
      'currentAreaId',
      'tresuares'
    ])
  },
  methods: {
    openDropPinModal () {
      this.$refs.dropPinModal.open()
    },
    openSharePinModal () {
      this.$refs.sharePinModal.open()
    },
    openInputLogModal () {
      this.$refs.inputLogModal.open()
    },
    openRouteSeachModal () {
      this.$refs.routeSearchModal.open()
    },
    onDropPin (location) {
      let tresure = {
        areaId: this.currentAreaId,
        xy: location.xy,
        owner: 'X' + location.xy[0] + ', Y' + location.xy[1],
        complete: false
      }
      this.$store.dispatch('addTreasure', [tresure])
    },
    onClickImage (location) {
      this.$emit('click-image', location)
    },
    onInputLog (tresuares, append) {
      if (append) {
        this.$store.dispatch('addTreasure', tresuares)
      } else {
        this.$store.dispatch('refreshTresuare', tresuares)
      }
    },
    onClickRoute (target) {
      this.$emit('click-route', target)
    },
    onCloseModal (target) {
      this.$emit('close-modal', target)
    },
    onClickOwner (uuid) {
      let tresuare = this.tresuares.find(t => t.uuid === uuid)
      this.$emit('click-owner', tresuare)
    }
  },
  watch: {
    tresuares: {
      handler (tresuares) {
        console.log('MapControl.vue watch tresuares ' + tresuares.length)
        this.exists = tresuares.length > 0
      },
      deep: true
    }
  }

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
/* -- layout -- */
.map-control-overlay {
  position: relative;
  z-index: 45;
}

/* .bottom-menu-layout */
.bottom-menu-layout {
  position: absolute;

}

@media only screen and (max-width: 600px) {
  .bottom-menu-layout  {
    bottom: 30px;
    left: 10px;
  }
  .bottom-menu-layout .btn {
    margin: 5px;
  }
}
@media only screen and (min-width: 601px) {
  .bottom-menu-layout {
    bottom: 30px;
    left: 10px;
  }
  .bottom-menu-layout .btn {
    margin: 10px;
  }
}
</style>
