<template>
  <nav class="navbar-fixed">
    <div class="nav-wrapper blue">
      <div class="brand-logo left">
        <a href="#">G8 Map Digger</a>
      </div>
      <ul class="right hide-on-small-only">
        <router-link :to="{name:'home'}" tag="li" active-class="active" exact>
          <a><i class="material-icons left">home</i>Home</a>
        </router-link>
        <router-link :to="{name:'help'}" tag="li" active-class="active" exact>
          <a><i class="material-icons left">help</i>Help</a>
        </router-link>
        <router-link :to="{name:'info'}" tag="li" active-class="active" exact>
          <a><i class="material-icons left">info_outline</i>Info</a>
        </router-link>
      </ul>
      <ul class="right hide-on-med-and-up">
        <router-link :to="{name:'home'}" tag="li" active-class="active" exact>
          <a><i class="material-icons">home</i></a>
        </router-link>
        <router-link :to="{name:'help'}" tag="li" active-class="active" exact>
          <a><i class="material-icons">help</i></a></li>
        </router-link>
        <router-link :to="{name:'info'}" tag="li" active-class="active" exact>
          <a><i class="material-icons">info_outline</i></a>
        </router-link>
      </ul>
    </div>
  </nav>
</template>

<script>
export default {
  name: 'navbar',
  data () {
    return {
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.navbar-fixed {
  position:fixed;
  top:0;
  left:0;
}
</style>
